* {
    font-family: 'Open-Sans', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*========================
Simon Says Buttons
========================*/
.game-squares {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: blue;
    line-height: 0;
}

.square {
    display: inline-block;
    width: 50%;
    height: 50%;
    border: 5px solid black;
}

#green {
    background-color: #003300;
    border-color: #00ff00;
}

#green.on.highlight {
    background-color: #00ff00;
}

#green.on:hover {
    box-shadow: inset 0px 0px 50px 10px rgba(0,85,0,1);
}

#red {
    background-color: #800000;
    border-color: #ff0000;
}

#red.on.highlight {
    background-color: #ff0000;
}

#red.on:hover {
    box-shadow: inset 0px 0px 50px 10px rgba(170,0,0,1);
}

#yellow {
    background-color: #cccc00;
    border-color: #ffff00;
}

#yellow.on.highlight {
    background-color: #ffff00;
}

#yellow.on:hover {
    box-shadow: inset 0px 0px 50px 10px rgba(238,238,0,1);
}

#blue {
    background-color: #000066;
    border-color: #0000ff;
}

#blue.on.highlight {
    background-color: #0000ff;
}

#blue.on:hover {
    box-shadow: inset 0px 0px 50px 10px rgba(0,0,136,1);
}

/*========================
Game Control Menu
========================*/
.game-controls {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    line-height: 79px;
    z-index: 1000;
}

.game-controls > * {
    vertical-align: top;
    height: 80px;
    display: inline-block;
}

.game-controls h1 {
    font-size: 30px;
    padding: 0 20px;
}

.power h3 {
    display: inline-block;
}

.switch {
    position: relative;
    top: 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.toggle h3 {
    display: block;
    width: 100px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    margin-top: 5px;
}

/* Hide default HTML checkbox */
.toggle input {display:none;}

.toggle-button {
    width: 20px;
    height: 20px;
    margin: auto;
    margin-top: 12px;
    border: 3px solid #333333;
    border-radius: 50%;
    background-color: #550000;
}

input:checked + .toggle-button {
    background-color: #ff0000;
}

#score {
    float: right;
    width: 80px;
    height: 70px;
    margin: 5px 0;
    margin-right: 5px;
    background-color: #550000;
    border: 5px solid #222222;
    color: #ff0000;
    text-align: center;
    line-height: 60px;
    font-size: 50px;
}

/*==================================
Game Messages
==================================*/
#message {
    display: block;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    z-index: 5000;
}