html {
	background-color: black;
}

body {
	box-sizing: border-box;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.container {
	width: 800px;
	margin: auto;
	margin-top: 10vh;
}

.header {
	display: table-row;
	position: relative;
	background-color: #6f256f;
	height: 150px;
	width: 800px;
}

#title-cell {
	display: table-cell;
	position: relative;
	width: 600px;
	height: 150px;
}

#title {
	padding: 0 16px;
	color: #f1faee;
	font-size: 40px;
	position: absolute;
	top: 50px;
}

#states-cell {
	display: table-cell;
	width: 200px;
}

#states {
	list-style: none;
	position: absolute;
	right: 0;
	bottom: 0;
}

#states li {
	display: block;
	float: right;
	clear: right;	
	font-size: 12px;
	margin: 5px 0 5px 5px;
	padding: 5px;
	width: 60px;
	background-color: #eeeeee;
	-webkit-transition: width 0.2s;
    transition: width 0.2s;
}

#states li:hover {
	width: 100px;
}

#online i {
	color: #457b9d;
}

#offline i {
	color: #e63946;
}

.input {
	background-color: #c3c3e5;
	padding: 10px;
}

input[type=text] {
	display: block;
    width: 150px;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    color: black;
    background-color: white;
    background-image: url(../img/plus.png);
    background-size: 24px;
    background-position: 8px 9px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
	width: 680px;
}